ex7/src/main/resources/application-oauth.properties
ex7/src/main/resources/application-oauth.properties
ex8/src/main/resources/application-oauth.properties
ex7/src/main/resources/application-oauth.properties
ex7/src/main/resources/application-oauth.properties
